:root {
    --background: #282a36;
    --button-background: #44475a;
    --text: #f8f8f2;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

* {
    border: 0;
    color: var(--text);
    margin: 0;
    padding: 0;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    background-color: var(--button-background);
    border-radius: 0.4rem;
    padding: 0.5rem;
}

.title {
    font-size: 1.7rem;
    margin-top: 2rem;
    text-align: center;
}

.input-box {
    display: flex;
    height: 2.5rem;
    justify-content: center;
    margin: 1rem;
    width: 80%;
}

.input-box input {
    background-color: var(--background);
    border-radius: 3px;
    border: 2px solid #44475a;
    margin-right: 0.5rem;
    max-width: 18rem;
    padding: 6px;
    width: 75%;
}

.loading img {
    height: 20rem;
}

.loading h4 {
    text-align: center;
    text-justify: center;
}

.users-container {
    flex-direction: column;
    max-width: 25rem;
    width: 90%;
}

.registered-users {
    margin: 1rem;
}

.user {
    align-items: center;
    background-color: #44475a;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 1rem;
    width: 80%;
}

.user .button {
    background-color: #6272a4;
}

.error-box {
    background-color: #ff5555;
    border-radius: 1rem;
    display: flex;
    margin-top: 2rem;
    padding: 2rem;
    width: 75%;
}

.error-box h4 {
    color: #dff;
    margin-bottom: 1.5rem;
    text-align: center;
}